/*              откл.окна                  */
.search, .login, .basket,
.feedback,
.quick_btn,
.catalog {
  display: none;
}

.visually_hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*              откл. маркеры ul             */
.site_nav, .user_nav,
.slider_list,
.products_list,
.offer, .descr_list,
.breadcrumb,
.fat_list, .filler,
.pagination_list,
.socials {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;

  min-width: 1200px;

  background-color: #849d8f;
}

.catalog_body {
  background-color: #849d8f;
/*  background-color: #9cb0a5;  Градиент (кусок сверху) */
}

a {
  color: #ffffff;
  text-decoration-color: #9CAFA4;     /* цвет подчёркивания*/
}

/*                 Кнопки               */
.button {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  color: #fefefe;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
}

.button:hover,
.button:focus {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

/*       Контейнер       */
.container {
  width: 1146px;

  margin: 0 auto;
  padding-right: 27px;
  padding-left: 27px;
}

/*        Навигация (Каталог / Доставка / О компании)      */
.site_nav {
  margin-top: 32px;
}

.site_nav a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.site_nav a:hover,
.site_nav a:focus {
  color: #323232;
  background-color: #f7f6f3;
}

.site_nav a:active {
  background-color: #ededed;
/*  background-color: #f8f7f4;   ?
  background: linear-gradient(to bottom, #9cb0a5 0%, #849d8f 100%);*/
}

/*       "Каталог" на стр. Каталог      */
.site_nav .current {
  color: #ffffff;
  background-color: #d07058;
}

.site_nav .current:hover,
.site_nav .current:focus {
  color: #ffffff;
  background-color: #d07058;
}

/*          Поиск / Вход / Корзина         */
.user_nav_button {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 32px;

  background-color: rgba(255, 255, 255, 0.2);
}

.user_nav_button:hover,
.user_nav_button:focus {
  color: #323232;
  background-color: #f8f7f4;
}

/*                     Главная                    */
.time {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.phone {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}

/*                  Слайдер                  */

.slider {
      background-color: rgba(255, 0, 0, 0.5); /* временно цвет */
  position: absolute;
  top: 0;

  z-index: -1;

  width: 1146px;

  background-color: #849d8f;
  background-image: url("../img/slider1_pic.png");
  background-repeat: no-repeat;
  background-position: top center;

  text-align: center;
  color: #ffffff;
}

.slider p {
  font-size: 60px;
  font-weight: 700;
  line-height: 61px;

  width: 700px;
  margin: 392px auto 27px auto;
}

.slider_controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 2;

  font-size: 0;
}

.slider_controls label {
  display: inline-block;

  width: 17px;
  height: 17px;

  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;

  border: 2px solid #ffffff;
  border-radius: 50%;
}

.slider_btn {
  width: 284px;
  height: 68px;

  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}

/*                   Преимущества        */
.description {
  color: #323232;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  width: 1150px;
  min-height: 306px;

  background-color: #ebdfc4;
  background-image: url("../img/waffle.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 1150px;
}

.description p {
  color: #323232;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

/*           Блог      */
.blog {
  color: #323232;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;

  width: 560px;
  height: 220px;
  background-color: #ffffff;
  background-image: url("../img/blog_pic.png");
}

.blog a {
  color: #323232;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-decoration-color: #323232;
}

.blog h2 {
  color: #323232;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

/*           Подписка      */
.subscripe {
  color: #5a5a5a;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  width: 549px;
  height: 211px;
  background-color: #f8f7f4;
}

/*  исправить потом!  */
.contacts p {
  color: #323232;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

/*         Футер         */
.footer_links {
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.footer_links a:first-child {
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
}

footer span {
  color: #fefefe;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.products span:hover,
.products span:focus,
.products p:hover,
.products p:focus,
.footer_links a:hover,
.footer_links a:focus,
footer a:last-of-type:hover,
footer a:last-of-type:focus {
  color: #ffbc9e;
}

footer hr {
  width: 1146px;
  height: 1px;
  background-color: #ffffff;
  opacity: 0.3;
}

/*          Каталог           */
.ice_cream_h2 {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.breadcrumb a::after {
  content: "»";
}

/*              каталог мороженого            */
/*                    название      */
.products_list p {
  text-align: center;
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}
/*                      цена        */
.products_list span {
  text-align: left;
  color: #ffffff;
  font-family: Roboto;
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  text-decoration: none;
}
/*                       кг         */
.products_list .kg {
  font-size: 30px;
}
.price {      /*  цена на картинке  */
  position: relative;
  top: -60px;
}

/*                     Сеточные стили                  */
/*                      HEADER                  */
.main_header {
  display: flex;
}

.main_nav {
/*      background-color: rgba(255, 0, 0, 0.1); /* временно цвет */
  display: flex;
  justify-content: center;

  width: 1146px;

  min-height: 100px;
}
/*             главный логотип       */
.main_header_logo {
  height: 64px;
  width: 154px;

  padding-top: 9px;
}

.main_header_wrapper {
/*      background-color: rgba(255, 220, 0, 0.1); /* временно цвет */
  display: flex;
  justify-content: space-between;
}

.site_nav {
/*     background-color: rgba(0, 255, 40, 0.2); /* временно цвет */
  display: flex;
  justify-content: space-between;

  min-width: 349px;

  margin-left: -4px;
}

.user_nav {
/*      background-color: rgba(0, 225, 255, 0.2); /* временно цвет */
  display: flex;
  align-items: flex-start;

  margin-top: 24px;
  margin-right: 21px;
}

.nav_phone {
  position: relative;
}

.time_phone {
      background-color: rgba(0, 25, 255, 0.2); /* временно цвет */
  position: absolute;

  top: 50px;
  left: 85px;

  width: 220px;

  z-index: 3;
}

.time_phone p {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;

  margin: 0;

/*  text-align: left; */
}

/*                          MAIN                        */

.offer {
      background-color: rgba(235, 55, 235, 0.4); /* временно цвет */

  display: flex;

  margin-top: 475px;
}

.offer li {
  height: 230px;
  width: 560px;

}

.offer span {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;

  padding-top: 23px;
  padding-left: 20px;
}

.offer p {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;

  padding-top: 23px;
  padding-left: 20px;
}

.offer button {
  padding-top: 23px;
  padding-left: 20px;
}

.blog_n_subscr {
      background-color: rgba(0, 225, 255, 0.3); /* временно цвет */
  display: flex;
  justify-content: center;
}

.blog {
  margin-right: 26px;
}

/*                   page CATALOG                    */
.breadcrumb {
      background-color: rgba(0, 225, 255, 0.3); /* временно цвет */
  display: flex;
  justify-content: flex-start;

  width: 1146px;
/*  min-width: 220px; */

  margin: 0 auto;
  padding-right: 27px;
  padding-left: 27px;
}

.ice_cream_h2 {
      background-color: rgba(0, 225, 255, 0.3); /* временно цвет */
  width: 1146px;

  margin: 0 auto;
  padding-right: 27px;
  padding-left: 27px;
}

.products_list {
      background-color: rgba(0, 25, 255, 0.1); /* временно цвет */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  width: 1146px;

  margin: 0 auto;
  padding-right: 27px;
  padding-left: 27px;
}

.products_list > li {
      background-color: rgba(0, 225, 55, 0.1); /* временно цвет */
  position: relative;

  width: 268px;
  height: 322px;
}

.products img:first-child {

  border-radius: 50%;
}

.products_list img:nth-of-type(2) {
  position: absolute;

  top: 0px;
  left: 0px;
}

/*     Навигация по страницам (1 2 3 4 5 >)      */
.pagination_list {
      background-color: rgba(255, 120, 10, 0.2); /* временно цвет */
  display: flex;
  justify-content: flex-end;

  width: 1146px;

  margin: 0 auto;
  padding-right: 27px;
  padding-left: 27px;
}

/*                         FOOTER                      */

.footer {
    background: pink;
  min-height: 104px;

  display: flex;
  justify-content: space-between;
}

.footer_socials_column {
  background-color: rgba(255, 120, 100, 0.2);
  width: 192px;

  margin-right: 208px;
}

.footer_links_column {
  width: 305px;

  margin-right: 206px;
}

.footer_copyright_column {
    background-color: rgba(255, 120, 0, 0.3);
  width: 190px;

  margin-top: 18px;
}

.footer_copyright_column p {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;

  margin: 0;
  padding: 0;
}

.footer_logo {
  position: relative;
  left: 2px;
}

.socials {
  background-color: rgba(255, 220, 0, 0.3);
  display: flex;
  justify-content: flex-start;

  padding-top: 35px;
}

.socials_link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  width: 40px;
  height: 40px;

  margin-right: 9px;

  border: 4px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;

  box-sizing: border-box;
  opacity: 0.8;
}

.hart {
  position: relative;
}

.hart::before {
  content: "";
  position: absolute;
  left: -22px;
  top: 3px;

  width: 15px;
  height: 13px;

  background-image: url('../img/heart.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.footer_links {
  display: flex;
  flex-wrap: wrap;

  width: 307px;

  margin-top: 33px;

  line-height: 22px;
}

.footer_link:nth-child(odd) {
  width: 142px;
}
