/*           откл.окна           */
.search,
.login,
.feedback,
.quick_btn,
.catalog {
  display: none;
}

/*           откл. маркеры ul           */
.site_navigation,
.user_navigation,
.pagination_list,
.socials,
.products_list,
.fat_list,
.filler,
.breadcrumb,
.products_list,
.descr_list,
.offer,
.slide_list {
  list-style: none;
}

body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;

  background-color: #849d8f;
}

.catalog_body {
  background-color: #849d8f;
/*  background-color: #9cb0a5;  Градиент  */
}

a {
  color: #ffffff;
  text-decoration-color: #9CAFA4; /* цвет подчёркивания*/
}

/*        Навигация (Каталог / Доставка / О компании)      */
.site_navigation a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.site_navigation a:hover,
.site_navigation a:focus {
  color: #323232;
  background-color: #f7f6f3;
}

.site_navigation a:active {
  background-color: #ededed;
/*  background-color: #f8f7f4; */
}

.site_navigation .current { /*Каталог на стр. Каталог*/
  color: #ffffff;
  background-color: #d07058;
}

.site_navigation .current:hover,
.site_navigation .current:focus {
  color: #ffffff;
  background-color: #d07058;
}

/*          Поиск / Вход / Корзина         */
.user_nav_button {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;

  background-color: rgba(255, 255, 255, 0.2);
}

.user_nav_button:hover,
.user_nav_button:focus {
  color: #323232;
  background-color: #f8f7f4;
}

/*          Кнопки          */
.button {
  font: inherit;

  text-align: center;
  vertical-align: middle;

  color: #fefefe;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;

  background-color: #e84d37;
}

.button:hover,
.button:focus {
  background-color: #f28065;
}

/*         Главная          */
.time {
  font-size: 14px;
  font-weight: 700;
}

.phone {
  font-size: 22px;
  font-weight: 700;
}

/*           Слайдер           */
.slider1 p {
  font-size: 60px;
  font-weight: 700;
  line-height: 60.35px;
}

/*    Магазин Глейси - Преимущества    */
.description {
  color: #323232;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  width: 1150px;
  height: 350px;
  background-color: #ede1ca;
/*  background: url(img/waffle.png); */
}

.description p {
  color: #323232;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

/*    Блог      */
.blog {
  color: #323232;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;

  width: 560px;
  height: 220px;
  background-color: #ffffff;
/*  background: url(img/blog_pic.png);  */
}

.blog a {
  color: #323232;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-decoration-color: #323232;
}

.blog h2 {
  color: #323232;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

/*    Подписка      */
.subscripe {
  color: #5a5a5a;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  width: 549px;
  height: 211px;
  background-color: #f8f7f4;
}

/*         Футер         */
.footer_links {
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.footer_links a:first-child {
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
}

footer span {
  color: #fefefe;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.products span:hover,
.products span:focus,
.products p:hover,
.products p:focus,
.footer_links a:hover,
.footer_links a:focus,
footer a:last-of-type:hover,
footer a:last-of-type:focus {
  color: #ffbc9e;
}

footer hr {
  width: 1146px;
  height: 1px;
  background-color: #ffffff;
  opacity: 0.3;
}

/*          Каталог           */
.ice_cream_h2 {
  font-size: 35px;
}

/*    каталог мороженого    */
/*   название   */
.products_list p {
  text-align: center;
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}
/*   цена   */
.products_list span {
  text-align: left;
  color: #ffffff;
  font-family: Roboto;
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  text-decoration: none;
}
/*   кг   */
.products_list .kg {
  font-size: 30px;
}

/*  ####   Сеточные стили   ####  */

html,
body {
  min-width: 1200px;
}

.main_header {
  display: flex;

  width: 1146px;
  min-height: 100px;

  margin: 0 auto;
  padding: 0 27px;
}

.main_header_logo {
  padding-top: 9px;
}


.main_header_wrapper {
  display: flex;

  min-width: 969px;
}
.site_navigation {

  min-width: 349px;
}

.user_navigation {

  min-width: 245px;
}
